[MASTER]
# Python code file patterns
ignore=CVS
ignore-patterns=
extension-pkg-whitelist=
persistent=yes

[MESSAGES CONTROL]
# Disable specific warnings
disable=C0111,  # missing-docstring
        C0103,  # invalid-name
        W0311,  # bad-indentation
        W0603,  # global-statement
        R0903,  # too-few-public-methods
        R0913,  # too-many-arguments
        R0914   # too-many-locals

[REPORTS]
output-format=text
reports=no
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

[BASIC]
good-names=i,j,k,ex,Run,_,id
bad-names=foo,bar,baz,toto,tutu,tata
name-group=
include-naming-hint=no
class-rgx=[A-Z_][a-zA-Z0-9]+$
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
variable-rgx=[a-z_][a-z0-9_]{2,30}$
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{2,30}|(__.*__))$

[FORMAT]
max-line-length=88
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
single-line-if-stmt=no
no-space-check=trailing-comma,dict-separator
max-module-lines=2000
indent-string='    '

[MISCELLANEOUS]
notes=FIXME,XXX,TODO
